/***************** Some generic styles for the entire resume *****************************/

#resume {
	border: 1px solid #222222; /* Include an border around the whole resume so it looks like a paper document with a physical border */
	padding: 0.3rem 1.2rem 1.8rem 1.2rem;	/* Have some space inside the border to make it look like a paper document with 'margins' */
	font-size: smaller;
}

/*
 In the case of a wider viewport, the main content of the page already contains a border with mostly appropriate padding,
 so don't include any extra border and padding for the resume
 */
@media (width > 900px) {
	#resume {
		border: none;
		padding: none;
	}

	#mainBody #content {
		padding-top: 1rem;
	}
}

/* Base the height of the images in the resume on the current font size, because all these images are just text that
should be sized according to the size of the surrounding text */
#resume img {
	height: 2em;
}

div.resumeSection {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

div.resumeSectionTitle {
	/* to put a little bit more space between the titles and the contents just below them */
	padding-bottom: 0.2em;
}

div.resumeSectionContent {
	/* So the text under the img header appears to be at least left aligned with it */
	padding-left: 0.1em;
}


/***************** 'Button' for downloading resume *****************************/

#linkToDownloadResume {
	text-align: right;
	font-size: smaller;
}


/***************** Title bar *****************************/

#titleBar {
	padding-top: 2rem;
}

/* Put a solid horizontal line just below the name/title in the resume */
#resumeName {
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #777777;
}

#resumeJobTitle {
	text-align: right;
}

#resumeJobTitle img {
	display: inline; /* So this image aligns to the right side of the containing div */
}

#resumeQuote {
	text-align: right;
	/* Make the text here a bit lighter, to stand out somewhat from the darker text*/
	color: #777777;
	/* Just so the text appears to be right justified with the header text immediately above */
	margin-right: 0.15em;
}


/***************** Technical skills *****************************/

div#technicalSkillsText {
	display: grid;
  grid-template-columns: auto auto;
}

.skillGroup {
	font-weight: bold;
	margin-right: 1.8em; /* put horizontal spacing just to the right */
}


/***************** Professional experience *****************************/

/* All company names shall appear a bit bigger and bold */
#professionalExperience .company .details .name {
	font-weight: bold;
	font-size: 1.2em;
}

#professionalExperience .company .details {
	/* Put a bit of spacing between the title of the company and the optional positions below it */
	margin-bottom: 0.5em;
}

/* All titles shall appear bold */
#professionalExperience .title {
	font-weight: bold;
}

/* Put a bit of spacing between each company entry */
#professionalExperience .company {
	margin-bottom: 2em;
}

/* Put a bit of spacing between each position at a company */
#professionalExperience .company .position {
	margin-bottom: 1em;
}

/* Use flex formatting to make the position dates right aligned, while
allowing the position titles and the position dates to wrap */
#professionalExperience .company .position .header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

#professionalExperience .company .position .header .title {
	flex: 0 0 auto;
}

#professionalExperience .company .position .header .dates {
	flex: 1 1 auto;
	text-align: right;
}


/***************** Professional development *****************************/

/* Put a bit of space between each education entry */
#education .educationEntry {
	margin-bottom: 0.25em;
}

/* All education titles shall appear a bit bigger and bold */
#education .educationEntry .specifics .name {
	font-weight: bold;
	font-size: 1.1em;
}

/* All education years shall appear bold */
#education .educationEntry .specifics .year {
	font-weight: bold;
}

/* Any 'extra' section is indented a bit */
#education .educationEntry .extra {
	padding-left: 2em;
}


/***************** Footer *****************************/

#resumeFooter {
	margin-top: 4em;
	text-align: center;
}
