html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-size: 16px;
	color: #222222;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}

img {
	border: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

html .gainLayout {
	height: 1%;
}

/******************  Entire Page  **********************/

div#container {
	width: 900px;
	margin: 0 auto;
}

/******************  Main Vertical Layout  **********************/

div#header {
	height: 124px;
}

div#mainBody {
}

div#footer {
	height: 120px;
}

/*****************  Header  ***********************/

div#topBar {
	text-align: right;
	font-size: 0.85em;
	margin-top: 0.5em;
}

/* Move the main image title just 1 pixel to the left, so it doesn't look so perfectly aligned */
img#mainTitleImage {
	position: relative;
	left: -1px;
}

div#header div#mainTitle {
	margin-top: 2em;
}

/****************  Menu with buttons and main content  ************************/

div#menu {
	float: left;
	width: 172px;
}

div#content {
	float: left;
	width: 728px;
}

div#contentBody {
	border: 1px solid #222222;
	height: 100%;
}

div#contentInclude {
	overflow: auto;
}

/***************  Menu with buttons  ******************/

div.buttonContainer {
	padding-bottom: 6px;
	padding-right: 10px;
}

div.mainButtonDontAnimate {
	font-size: 1.5em;
}

a.boldMe:hover {
	color: #000000;
}

a.increaseTextSize:hover div.mainButtonAnimate {
	font-size: 1.5em;
}

div.buttonBody {
	height: 50px;
	line-height: 50px;
	text-align: right;
}

span.buttonContents {
	vertical-align: middle;
	color: #FFFFFF;
	margin-right: 10px;
}
	
div#button1 {
	background-color: #003366;
}

div#button2 {
	background-color: #001144;
}

div#button3 {
	background-color: #446677;
}

div#button4 {
	background-color: #114466;
}

img.largeArrow {
	width: 10px;
	height: 10px;
	position: relative;
	right: 10px;
}
